
   body {
    padding: 0;
    margin:0;
    background-color: #232323;
}

.calculator {
    border: 1px solid;
      width: 307px; 
    margin: auto; 
     margin-top: 50px;
    background-color: darkgray;
    padding: 7px 5px 20px 20px; 
    border-radius: 15px;
     
}

#text{
    padding: 12px 20px;
    font-size: 18px; 
    box-shadow: 5px 5px;
  text-align: right;
  background-color: bisque;
  width: 240px;
  height: 50px;
  border-radius: 5px;
  margin: 0 0 0 8px;
  margin-bottom: 15px;
  border: none;
}


.item {
    padding: 20px;
    text-align: center;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    color: #f0f0f0;
    background-color: black;
    font-weight: bolder;
    box-shadow: 5px 5px;}

 .span-item {
    width: 131px;
    background-color: red;
} 

.btn{
    height: 120px;
    float: right;
    margin-right: 30px;
}
#equal{
    background-color: blue;
}

button {
    width: 58px;
    height: 58px;
    margin: 5px;
    padding: 15px;
    font-size: 16px;
    border-radius:1px;
    border: 1px solid #232323;
    cursor: pointer;
    color: #ffffff;
    background-color: #000;
    box-shadow: 5px 5px ;
} 
button:hover{
  background-color: lightcoral;
}